/* Styles for card mode (presentational styles are marked as optional) */
:root{
    --bs-font-sans-serif: 'Roboto', sans-serif;
    --table-border: 10px;
}

thead tr th{
  border: 0px !important;
}
tbody tr td{
  border: 0px !important;
}

@media (max-width: 855px) {
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
      --bs-table-striped-bg: rgba(0, 0, 0, 0);
     
  }
    table {
      width: auto !important;
    }
    .table-label{
      font-size: 11px;
    }
    thead {
      display: none;
    }
    tbody{
      border: 0px !important;
      
    }
    tr {
      box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
      margin: 5px;
      background: var(--bs-white) !important;
      display: inline-block;
      width: 45%;
      margin-bottom: 0px !important;
      border: 1px solid #ddd;
      border-radius: 15px;
      overflow: hidden;
      border-top: 0.25rem solid var(--bs-info) !important;
    }
    td {
      
      border: 0px;
      display:block;
      text-align: center;
      white-space: nowrap;
      font-size: 12px;
      margin: 0px !important;
    }
    td:nth-child(1){
      display: none !important;
    }
    td:nth-child(3) p:nth-child(2) span:nth-child(3){
      display: none !important;
     }
    td:nth-child(4){
      padding-top:10px;
    }
    td:last-child{
      display: none !important;
    }
    td > div > p {
      margin: 0px !important;
      padding: 0px !important;
    }
     
  }
  /* Styles for normal mode (all are optional, presentational styles) */
  @media (min-width: 856px) {
    th {
      white-space: nowrap;
      font-weight: 600;
    }
    th, 
    td {
      border: 1px solid #e8e8e8;
    }
    th:not(.align-start), 
    td:not(.align-start) {
      text-align: center;
    }
  }

#upload_client_picture{
  transition:color .5s ease-in;
}

.cursor-pointer:hover{
  cursor: pointer;
}
#upload_client_picture:hover{
  color: var(--bs-primary);
  cursor: pointer;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.no-right-round{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}

.modal-dialog{
  border-radius: 15px; 
  overflow:hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.shadow-5-strong{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.hide{
  display: none;
}

.form-group{
  margin-top: 15px;
}

.main_wrapper{
  padding: 0px 20px;
}
.main_wrapper table tr{ 
  cursor: pointer;
}

.table-dark th{
    border-top: 0px;
}
.table-dark th:last-of-type{
  border-top-right-radius: var(--table-border) !important;
  border-right: 0px;
}
.table-dark th:nth-child(1){
  border-top-left-radius: var(--table-border) !important;
  border-left: 0px;
}

#upload_client_picture{
  transition:color .5s ease-in;
}

#upload_client_picture:hover{
  color: var(--bs-primary);
  cursor: pointer;
}

.detail_info{
  text-decoration: underline;
  font-weight: normal;
}

.table-sm tbody td{
  padding: 0px;
  font-size: 13px;
}

.table-sm tbody td .fas{
  margin-left: 10px;
}

.table-label{
  position: absolute;
  margin: 10px;
  margin-left: 20px;

}
.page-link{
  cursor: pointer;
}

.editable *:hover{
  cursor: pointer;
}

.editable input:hover{
  cursor:default;
}

.text-white{
    --bs-table-striped-color: #fff;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #fff;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #fff;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}

.log_wrapper{
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
}

.log_wrapper spam .important{
    font-weight: bold;
}
/*
.bootstrap-autocomplete .dropdown-item{
  border-bottom: 1px solid #ddd;
  padding: 0px;
  cursor: pointer;
}

.bootstrap-autocomplete .dropdown-item:nth-child(odd){
  background: #eee;
}
.bootstrap-autocomplete span{
  display: inline-block;
  height:auto;
  border-right: 2px solid #000; 
  margin: 0px 5px;
  padding: 0px 5px;
}*/